<section>
    <div class="container">
        <div class="columns">
            <form id="comment-form" class="comment-form column is-half is-offset-one-quarter">
                <p class="title is-size-3-widescreen has-text-centered">Submit an Answer</p>
                <div class="comment-form field">
                    <label class="label">Answer</label>
                    <div class="control">
                    <textarea class="textarea" name="comment-body" placeholder="Answer"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-info">Submit</button>
                    </div>
                    <div class="control">
                        <a href="/" class="button is-info is-light">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/javascript/answer-post.js"></script>