<section>
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <p class="title is-size-3-widescreen has-text-centered">Submit an Answer</p>
                <div class="field">
                    <label class="label">Answer</label>
                    <div class="control">
                    <textarea class="textarea"  placeholder="Answer"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-info is-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>