<section>
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="has-text-centered is-size-3 title">
                This is the question's title.</p>
                <p>
                    This is the body of the question with all the details. Lorem
                    ipsum, dolor sit amet consectetur adipisicing elit. Veritatis
                    vel commodi molestiae magnam ipsum, labore mollitia iusto ullam
                    perferendis et iste. Cumque corrupti reiciendis esse eum dolorem
                    natus molestias at!
                </p>
                <button class="button is-info is-outlined p-1">Answer this question</button><br />
                <p class="has-text-centered is-size-3 title">Answers</p>
                <div class="has-text-centered is-size-4">
                    <p>This is an answer provided by a user</p>
                    <br />
                    <p>This is an answer provided by a user</p>
                    <br />
                    <p>This is an answer provided by a user</p>
                    <br />
                    <p>This is an answer provided by a user</p>
                </div>
            </div>
        </div>
    </div>
</section>